# OS
.DS_Store

# Cache
.cache
.playwright
.tmp
*.tsbuildinfo
.eslintcache

# pnpm
.pnpm-store

# Project-generated directories and files
coverage
dist
node_modules
playwright-report
test-results

# Logs
npm-debug.log
pnpm-debug.log

# .env files
**/.env
**/.env.*
!**/.env.example
